.layout {
  width: 1000;
  height: 1000;
}

.columns {
  top: 0;
  count: 1;
}

.drgn-image1 {
  top: 1000;
  right: 1000;
  width: 400;
  src: dragon.png
}

.drgn-image2 {
  top: 1000;
  right: 1000;
  height: 400;
  src: dragon.png
}

.drgn-image3 {
  top: 1000;
  right: 1000;
  height: 400;
  width: 300;
  src: dragon.png
}

.drgn-image4 {
  top: 1000;
  right: 1000;
  height: 300;
  width: 400;
  src: dragon.png
}
