.layout {
  width: 4.ft;
  height: 3.ft;
  margin: 1.in;
  /*repeat-header: true;*/
}

.body {
  font-size: 36;
  font-family: helvetica;
}

.title {
  left: center;
  top: top;
  height: 3.in;

  font-size: 54;
}

.authors {
  left: center;
  top: title.bottom + margin;
  height: 2.in;

  font-size: 36;
}

.affiliations {
  left: center;
  top: authors.bottom + margin;
  height: 1.in;

  font-size: 24;
}

.introduction {
  top: affiliations.bottom + margin;
  left: left;
  width: 14.in;
}

.methods {
  top: introduction.bottom + margin;
  left: left;
  height: 6.in;
  width: 14.in;
}

.figures {
  top: affiliations.bottom + margin;
  left: left + methods.width + margin;
  width: 14.in;
}

.results {
  top: figures.bottom + margin;
  left: left + methods.width + margin;
  width: 14.in;
}

.discussion {
  top: affiliations.bottom + margin;
  right: right;
  width: 14.in;
}

.conclusion {
  top: affiliations.bottom + margin;
  right: right;
  width: 14.in;
}

#caption {
  font-size: 20;
}

#h1 {
  background-color: #C00000;
  radius: 8;
  color: white;
  font-size: 30;
}

#left_logo {
  left: left;
  top: top;
  src: 'ucair_logo_left.png'
}

#right_logo {
  right: right;
  top: top;
  src: 'ucair_logo_right.png'
}
