.layout {
  width: 4.ft;
  height: 3.ft;
  margin: 1.in;

  font-size: 36;
  font-family: helvetica;
}

.columns {
  count: 4;
  /*top: left_logo.bottom + margin, affiliations.bottom + margin;*/
  top: title.left + margin;
}

.left-logo {
  top: 13.7;
  left: columns[0].left;
  width: 15;
}

.title {
  top: 24 + margin;
  left: 5;
  width: 15;
}

#header {
  background-color: #fff;
}

#caption {
  font-size: 36;
}
